log/
disks/
.vagrant/
.vagrant/**/*
**/*.log
.vagrant/machines/master-1/virtualbox/vagrant_cwd
.status
.running
**/multipass/shared/dns/forward.*
**/multipass/shared/dns/reverse.*
**/multipass/shared/dns/named.conf.*
**/multipass/shared/dns/servers.conf
**/multipass/shared/dns/setup-resolv.conf-all.sh
**/multipass/shared/update-system-config-all.sh
